
.copyright {
    margin-top: 25%;
}

.copyright2 {
    margin-top: 15%;
}

.imagelogo{
    height: 30px;
    margin-top: 10px;
}

.imagelogocentral{
    height: 180px;
    margin-top: 20%;
    margin-left: 25%;
}
